.footer {
  padding-top: 80px;
  margin-top: 120px;
  background: #f2ffec;
  .container {
    .row {
      .contact {
        .logo {
          .img {
            margin-bottom: 20px;
          }
        }
        .home {
          min-width: 120px;
        }
        .help {
          .time,
          .phone {
            display: flex;
            img {
              margin-right: 12px;
              margin-bottom: 8px;
            }
            p {
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
            }
          }
        }
        .contact-list {
          .mail,
          .address,
          .web {
            display: flex;
            margin-bottom: 8px;
            align-items: flex-start;
            img {
              margin-right: 12px;
            }
          }
        }
        .col-lg-9 {
          display: flex;
          justify-content: right;
          padding-left: 50px;
          gap: 50px;
          .home,
          .help,
          .contact-list {
            flex-basis: 30%;
          }
          .help {
            margin-left: -80px;
          }
        }
        display: flex;
        // justify-content: space-between;
        gap: 128px;
        h3 {
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 26px;
          color: $primaryColor;
          margin-bottom: 16px;
        }
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24.5px;
          margin-bottom: 8px;
        }
      }
      .line {
        width: 100%;
        height: 2px;
        background-color: #a3a3a3;
        margin-top: 86px;
        margin-bottom: 28px;
      }
      .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        .social-icon {
          ul {
            display: flex;
            gap: 8px;
            li {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 48px;
              height: 48px;

              border-radius: 50%;
              background: #dcffca;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1399.98px) {
}
@media screen and (max-width: 1199.98px) {
}
@media screen and (max-width: 991.98px) {
  .footer {
    .container {
      .row {
        .contact {
          .container {
            .row {
              display: flex;

              .logo {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                  font-size: 2rem;
                }
              }
              .col-lg-9 {
                justify-content: left;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767.98px) {
  .col-lg-9 {
    flex-direction: column;
    .home,
    .help,
    .contact-list {
      margin-left: 30px !important;
    }
  }
}
