.header {
  padding: 15px 0 0 0;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  .col-lg-8 {
    display: none;
  }
}

.header-icon {
  display: flex;
  justify-content: flex-end;
  .cart-icon {
    position: relative;
    span {
      position: absolute;
      right: -7px;
      top: -7px;
      background: $secondaryColor;
      color: #fff;
      padding: 0 4px;
      border-radius: 50%;
    }
  }
  > div {
    margin-left: 30px;
  }
}
.menu-toggle {
  display: flex;
  align-items: center;
}
.menu-mobile {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 50%;
  max-width: 300px;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 1;
  .logo-mobile {
    img {
      margin-left: 20px;
      margin-top: 20px;
      width: 50%;
    }
  }
  ul {
    padding: 30px 0 0 30px;
    li {
      margin-bottom: 30px;
      padding-bottom: 5px;
      &:hover {
        border-bottom: 2px solid $primaryColor;
      }
      a {
        font-weight: 600;
        font-size: 2rem;
        &.active {
          color: $primaryColor;
        }
        &:hover {
          @extend .active;
        }
      }
    }
  }
}
.overlay {
  position: fixed;
  inset: 0;
  background-color: #00000049;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 1;
}
.header .row input[type="checkbox"]:checked ~ .col-sm-1 {
  .menu-mobile {
    transform: translateX(0);
  }
  .overlay {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 576px) {
  .col-lg-8 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .col-lg-8 {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .row {
    padding-bottom: 15px;
    > [class^="col-"] {
      margin: 0;
    }
  }
  .header {
    .col-lg-8 {
      display: block;
    }
  }
  .col-sm-1 {
    display: none;
  }
  .header-menu {
    ul {
      display: flex;
      justify-content: flex-end;
      li {
        a {
          font-weight: 600;
          font-size: 1.6rem;
          padding: 0 15px;
          padding-bottom: 56px;
          &.active {
            color: $primaryColor;
          }
          &:hover {
            color: $primaryColor;
            border-bottom: 2px solid $primaryColor;
          }
        }
      }
    }
  }
  .header-icon {
    justify-content: flex-end;
    .search-icon {
      margin-right: 20px;
      margin-left: 40px;
      img {
        width: 2rem;
      }
    }
    .cart-icon {
      position: relative;
      img {
        width: 2rem;
      }
      span {
        font-size: 1rem;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .header-menu {
    ul {
      li {
        a {
          font-size: 2rem;
          font-weight: 600;
          padding: 0 20px;
          padding-bottom: 54px;
        }
      }
    }
  }
  .header-icon {
    .cart-icon,
    .search-icon {
      margin: 0;
      img {
        width: 100%;
      }
    }
    .cart-icon {
      span {
        font-size: 1.6rem;
      }
    }
    .search-icon {
      margin-left: 30px;
    }
  }
}
@media screen and (min-width: 1400px) {
  .header-menu {
    ul {
      li {
        a {
          padding: 30px;
          padding-bottom: 53px;
        }
      }
    }
  }
}
