.hero {
  margin-bottom: 100px;
  .hero-text {
    h1,
    h2 {
      font-weight: 800;
    }
    h1 {
      font-size: 3.6rem;
    }

    h2 {
      font-size: 4.3rem;
    }

    p {
      max-width: 65%;
    }
  }
  .hero-image {
    background: #dcffca;
    width: 50vw;
    border-radius: 16.667px 0px 0px 16.667px;
    padding: 55px 0;
    position: relative;
    min-height: 708px;
    span {
      font-size: 15.6rem;
      color: #216000;
      font-weight: 800;
      opacity: 0.15;
      line-height: 1;
      rotate: 90deg;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10%;
      display: inline-block;
    }
    img {
      width: 525px;
      margin-top: 50px;
      margin-left: -120px;
    }
  }
}

@media screen and (max-width: 1399.98px) {
  .hero {
    .hero-image {
      span {
        font-size: 10rem;
        left: 6%;
      }

      img {
        width: 432px;
        margin-left: -60px;
      }
    }
  }
}
@media screen and (max-width: 1199.98px) {
  .hero {
    .hero-image {
      span {
        font-size: 10rem;
        top: -35px;
        left: -6%;
      }

      img {
        width: 350px;
        margin-left: -30px;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .hero {
    .hero-text {
      text-align: center;
      margin-bottom: 20px;
      p {
        max-width: 100%;
      }
    }

    .hero-image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      img {
        margin: 0;
      }

      span {
        position: static;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .hero {
    .hero-image {
      display: block;
      text-align: center;

      img {
        margin: 0 auto;
        max-width: 70%;
        display: block;
      }

      span {
        rotate: 0deg;
        font-size: 10rem;
        display: block;
      }
    }
  }
}

.homepage {
  .data {
    overflow-x: hidden;

    .container {
      .row {
        .content {
          text-align: center;
          margin: 0 auto;
          h2 {
            margin-top: 50px;
            margin-bottom: 30px;
            font-size: 3.1rem;
            font-style: normal;
            font-weight: 700;
            padding-bottom: 20px;
            color: #2c2c2c;
          }
          p {
            margin: 0 auto;
            font-size: 1.6rem;
            color: #2c2c2c;
            line-height: 2rem;
            padding-bottom: 30px;
            margin-bottom: 100px;
            max-width: 80%;
            max-width: 643px;
          }
        }
      }
    }
    .container {
      .justify-content-center {
        margin-bottom: 200px;
        display: flex;
        justify-content: center;
        .data-item {
          border-radius: 4px;
          background: #fff;
          box-shadow: -5.8333330154418945px 8.333333015441895px 72.5px 0px
            rgba(54, 54, 54, 0.12);
          padding: 33.33px;
          padding-bottom: 58px;
          img {
            background: #fff0e7;
            display: inline-block;
            padding: 19.17px;
            border-radius: 10px;
          }

          h2 {
            padding: 23.33px 0;
            font-weight: 800;
            font-size: 4.3rem;
          }
          p {
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3rem;
          }
        }
        .user {
          position: relative;
          .user-circle {
            width: 235px;
            height: 235px;
            background-color: #dcffca;
            position: absolute;
            border-radius: 50%;
            top: 0;
            left: 0;
            z-index: -1;
            translate: -50% -50%;
            z-index: -1;
          }
        }
        .restaurant {
          margin: -30px 30px;

          img {
            margin-top: 30px;
            background: #f2ffec;
          }
        }
        .province {
          position: relative;
          .province-circle {
            width: 235px;
            height: 235px;
            background-color: #ffd5bd;
            position: absolute;
            border-radius: 50%;
            right: 0;
            bottom: 0;
            translate: 50% calc(50% + 27px);
            z-index: -1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .data {
    padding: 50px 0;
    .content {
      max-width: 100%;
      margin-bottom: 20px;
    }

    .data-item {
      max-width: 100% !important;
      margin-bottom: 20px !important;
      padding: 33.33px !important;
      text-align: center;
    }
    .user-circle,
    .province-circle {
      display: none;
    }
    .container {
      .row {
        .restaurant {
          margin: 0 0 20px 0 !important;
        }
      }
    }
  }
}

// end  data

// product
.homepage {
  .products {
    margin-top: 250px;
    .col-12 {
      &:nth-child(2),
      &:nth-child(5) {
        .product-item-circle {
          background: #c5ffa8;
        }
      }
    }
    text-align: center;
    h2 {
      font-size: 3.1rem;
      font-weight: 800;
      margin-top: 120px;
      margin-bottom: 210px;
    }
    .product-item {
      margin-bottom: 210px;
      position: relative;
      .product-item-img {
        position: relative;
        display: flex;
        justify-content: center;
      }

      .product-item-circle {
        width: 300px;
        height: 300px;
        background: #ffba94;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        top: -50%;
      }
      h3 {
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 30px;
      }
      .product-item-content {
        p {
          font-size: 1.7rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2.6rem;
          margin-bottom: 32px;
          color: #656565;

          span {
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
          }
        }
      }
      .product-btn {
        padding: 14px 16px;
        margin-bottom: 20px;
        border-radius: 8px;
        background: #46b20f;
        color: #fff;
      }
    }
  }
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 1400px) {
}
// end product

// post
.posts {
  margin-top: -100px;
  .title {
    text-align: center;
    h2 {
      margin-bottom: 28px;
      font-size: 38px;
      font-style: normal;
      font-weight: 800;
      line-height: 131.523%;
    }
    p {
      display: block;
      margin: 0 auto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24.5px;
      margin-bottom: 28px;
      width: 675px;
      max-width: 80%;
    }
  }
  .container {
    .row {
      .img {
        margin-bottom: 20px;
        justify-content: center;
        display: flex;
        img {
          object-fit: cover;
          margin-top: 40px;
        }
      }
      .describe-img {
        width: 385px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 22px;
        .link-post {
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          color: $primaryColor;
        }
        .time-post {
          p {
            margin-left: 12px;
            color: #a3a3a3;
          }
          display: flex;
          align-items: center;
        }
      }
      .content {
        text-align: center;
        .title-post {
          margin: 0 auto;

          font-size: 2rem;
          font-style: normal;
          font-weight: 600;
          line-height: 2.6rem;
          margin-bottom: 15px;
        }
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24.5px;
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .posts {
    .container {
      .row {
        .describe-img {
          width: 100%;
        }
      }
    }
    text-align: center;
    .title {
      text-align: center;
    }
  }
}
@media screen and (min-width: 1200px) {
  .posts {
    text-align: center;
    .title {
      text-align: center;
      p {
        width: 657px;
        display: block;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24.5px;
        margin-bottom: 28px;
      }
    }
    .container {
      .row {
        .content {
          text-align: left;
          .title-post {
            font-style: normal;
            font-weight: 600;

            margin: 0;
            margin-bottom: 15px;
          }
          p {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
}
// end posts

// more
.more {
  text-align: center;
  margin-top: 94px;
  margin-bottom: 114px;
  a {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 14px 26px;
    border-radius: 8px;
    border: 1px solid $primaryColor;
  }
}
// end more

// quality
.quality {
  position: relative;
  margin-bottom: 160px;
  .background {
    position: absolute;
    width: 100vw;
    height: 433px;
    background: #fff0e7;
    z-index: -1;

    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .title {
    text-align: center;
    h2 {
      font-size: 38px;
      font-style: normal;
      font-weight: 800;
      line-height: 131.523%;
      margin-bottom: 30px;
    }
    p {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24.5px;
      margin-bottom: 60px;
    }
  }
  .container {
    padding: 0;

    .row {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      padding-bottom: 140px;

      .col {
        flex-basis: 30%;

        background: #fff;
        border-radius: 10px;

        .img {
          margin-bottom: 29px;

          img {
            object-fit: cover;
            width: 100%;
            height: auto;
          }
        }
        .content {
          margin-left: 34px;
          h3 {
            color: $secondaryColor;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24.5px;
            max-width: 70%;
            margin-bottom: 30px;
          }
        }
        &:nth-child(2) {
          p {
            max-width: 90%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1399.98px) {
}
@media screen and (max-width: 1199.98px) {
}
@media screen and (max-width: 991.98px) {
  .quality {
    .background {
      display: none;
    }
    .container {
      .row {
        padding-bottom: 0;
        flex-direction: column;
        .col {
          .img {
            display: flex;
            justify-content: center;
            img {
              width: auto;
            }
          }
          .content {
            max-width: 400px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

// end quality

// strengths
.strengths {
  margin-bottom: 160px;
  .container {
    .row {
      display: flex;
      gap: 53px;
      margin: 0 30px;
      .col-xxl-3 {
        flex-basis: 30%;
        display: flex;
        margin-bottom: 38px;
        // margin-right: 63px;
        .strength-icon {
          img {
            height: 67px;
            max-width: fit-content;
            padding-right: 19px;
          }
        }
        .content {
          h3 {
            margin: 0;
            font-size: 2rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.6rem;
            margin-bottom: 10px;
          }
          p {
            display: block;
            height: 117px;
            font-size: 1.7rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1399.98px) {
}
@media screen and (max-width: 1199.98px) {
  .strengths {
    .container {
      .row {
        gap: 30px;
        margin: 0 10px;
      }
    }
  }
}
@media screen and (max-width: 991.98px) {
  .strengths {
    .container {
      .row {
        .col-xxl-3 {
          flex-basis: 50%;
        }
      }
    }
  }
}
// end strengths

// contact-form
.contact-form {
  .container {
    .row {
      .form {
        margin-top: 66px;
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          margin-bottom: 32px;
        }
        .form-part {
          display: flex;
          input {
            flex: 1;
            &:nth-child(1) {
              margin-right: 37px;
            }
          }
        }
        input {
          display: inline-flex;
          padding: 16px 0 16px 16px;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          border: 1px solid #a3a3a3;
          margin-bottom: 28px;
        }
        .textarea {
          height: 178px;
          width: 100%;
          display: inline-flex;
          padding: 16px 0 0 16px;
          margin-bottom: 32px;
          gap: 10px;
          border-radius: 8px;
          border: 1px solid #a3a3a3;
        }
        .form-btn {
          display: block;
          width: 154px;
          height: 56px;
          background-color: $primaryColor;
          border-radius: 8px;
          padding: 16px 14px;
          color: #fff;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-left: auto;
        }
      }
    }
  }
}
@media screen and (min-width: 576px) {
  .contact-form {
    .col-sm-12 {
      .img {
        display: flex;
        justify-content: center;
        img {
        }
      }
    }
    .form {
      margin: 0 auto;
      max-width: 80%;
      .title-form {
        text-align: center;
      }
    }
  }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 1400px) {
}
// end contact-form
